layout {
    pane split_direction="vertical" {
        pane command="pnpm" {
            args "dev:web"
        }
        pane command="pnpm" {
            args "dev:cms"
        }
    }
    // pane split_direction="vertical" {
    //     pane command="pnpm" {
    //         args "localstack"
    //         cwd "~/code/okeeffed/droppack-mono"
    //     }
    //     pane command="pnpm" {
    //         args "stripe:webhooks"
    //         cwd "~/code/okeeffed/droppack-mono"
    //     }
    // }
}
