@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-solid-green {
  box-shadow: 20px 20px #10b981;
}

.shadow-solid-green-sm {
  box-shadow: 10px 10px #10b981;
}

.shadow-solid-yellow-400 {
  box-shadow: 10px 10px #facc15;
}

.shadow-solid-pink-500 {
  box-shadow: 10px 10px #ec4899;
}

.shadow-solid-social {
  box-shadow: 4px 4px #10b981;
}
